<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="author" content="www.XinYunZhan.com" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<title>{sort:title}</title>
<meta name="keywords" content="{sort:keywords}">
<meta name="description" content="{sort:description}">
<link href="{pboot:sitedomain}/skin/css/css.css" rel="stylesheet">
<script src="{pboot:sitedomain}/skin/js/jquery-1.11.3.min.js"></script>
<!--[if lt IE 9]>
<link href="{pboot:sitedomain}/skin/css/ie.css" rel="stylesheet">
<script src="{pboot:sitedomain}/skin/js/html5shiv.js"></script>
<script src="{pboot:sitedomain}/skin/js/respond.min.js"></script>
<![endif]-->
</head>

<body>

{include file=head.html}

<div class="ban" style="background:url({pboot:sort scode={sort:tcode}}[sort:pic]{/pboot:sort}) center no-repeat;"></div>
<div class="ban_bg"></div>

<div class="a1">
<div class="width">
	<p class="title title2">{sort:name}</p>
    <div class="desc" id="maximg">
    	{content:content}
    </div>
</div>
</div>

<div class="a2">
<div class="width">
	<div class="desc">
    	<p>随着科学技术的进步，现代生活方式的变化，特别是现代艺术思想的影响，首饰设计得到了长足的发展。首饰设计师们努力顺应时代的潮流，在缤纷的世界中寻找自然，简洁和纯真的东西，以期望达到返璞归真和表达一种恒久美的艺术境界。首饰设计制造的三大潮流为简洁、装饰、回归自然。</p>
    </div>
</div>
</div>

<div class="a3">
<div class="width">
	<div class="a3_pic"><img src="{pboot:sort scode=7}[sort:ico]{/pboot:sort}" alt="{pboot:sort scode=7}[sort:name]{/pboot:sort}"></div>
    <div class="a3_p">
    	<p class="title title2">{pboot:sort scode=7}[sort:name]{/pboot:sort}</p>
        <div class="desc">
        	{pboot:content scode=7}[content:content]{/pboot:content}
        </div>
    </div>
    <div class="clear"></div>
</div>
</div>

{include file=foot.html}

</body>
</html>