<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="author" content="www.XinYunZhan.com" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<title>{sort:title}</title>
<meta name="keywords" content="{sort:keywords}">
<meta name="description" content="{sort:description}">
<link href="{pboot:sitedomain}/skin/css/css.css" rel="stylesheet">
<script src="{pboot:sitedomain}/skin/js/jquery-1.11.3.min.js"></script>
<!--[if lt IE 9]>
<link href="{pboot:sitedomain}/skin/css/ie.css" rel="stylesheet">
<script src="{pboot:sitedomain}/skin/js/html5shiv.js"></script>
<script src="{pboot:sitedomain}/skin/js/respond.min.js"></script>
<![endif]-->
</head>

<body>

{include file=head.html}

<div class="ban" style="background:url({pboot:sort scode={sort:tcode}}[sort:pic]{/pboot:sort}) center no-repeat;"></div>

<div class="pro_bg">
<div class="width">
	<p class="pro_nav">{pboot:nav parent={sort:tcode}}<a href="[nav:link]"{pboot:if('[nav:scode]'=='{sort:scode}')} class="cur2"{/pboot:if}>[nav:name]</a>{/pboot:nav}</p>
    <div class="pro1_bg">
    	{pboot:list num=6 order=sorting}<a class="pro1" href="[list:link]">
            <div class="pro1_pic" style="background:url([list:ico]) center no-repeat; background-size:cover; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[list:ico]', sizingMethod='scale');"><img class="image" src="[list:ico]" alt="[list:title]"></div>
            <p>[list:title]</p>
        </a>
        {/pboot:list}
        <div class="clear"></div>
    </div>
    {pboot:if({page:rows}>0)}
      <div class="pagebar">
        <div class="pagination">
          <a class="page-item page-link st" href="{page:pre}" title="上一页"><<</a>
          {page:numbar}
          <a class="page-item page-link" href="javascript:;" title="当前页/总页数">{page:current}/{page:count}</a>
          <a class="page-item page-link st" href="{page:next}" title="下一页">>></a>
        </div>
      </div>	
    {else}
      <div class="tac text-secondary">本分类下无任何数据！</div>
    {/pboot:if}
</div>
</div>

{include file=foot.html}

</body>
</html>